/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */

/* Schrijf hier  jouw CSS! */
.one {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: hsl(275, 76%, 63%);
}

.two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.three {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.three ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 300px;
}

.login {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(102, 81%, 66%);
}

.five {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

article {
    box-sizing: border-box;
    flex-basis: 400px;
    flex-grow: 2;
    flex-shrink: 1;
}





